<div id="container_auto_movable_003300310037003400350033" class="chatbro_container">
      <div class="chatbro_chat chatbro_movable_chat" style="height: 300px; width: 350px; top: 310px; left: 925px; display: none;">
        <div class="chatbro_frame_left_top chatbro_frame"></div>
        <div class="chatbro_frame_top chatbro_frame"></div>
        <div class="chatbro_frame_right_top chatbro_frame"></div>
        <div class="chatbro_frame_right chatbro_frame"></div>
        <div class="chatbro_frame_right_bottom chatbro_frame"></div>
        <div class="chatbro_frame_bottom chatbro_frame"></div>
        <div class="chatbro_frame_left_bottom chatbro_frame"></div>
        <div class="chatbro_frame_left chatbro_frame"></div>
        <div class="chatbro_header chatbro_maximized_header" style="background: rgb(111, 124, 150); color: rgb(255, 255, 255);">
          <table class="chatbro_header_table">
            <tbody>
              <tr>
                <td> <button class="chatbro_header_button chatbro_invite_button chatbro_maximized_invite_button" title="Join conversation" style="color: rgb(255, 255, 255); background: rgb(111, 124, 150);"></button></td>
                <td class="chatbro_header_caption_td" style="cursor: move;">
                  <div class="chatbro_caption chatbro_maximized_caption">
                    <div class="chatbro_title chatbro_maximized_title" style="color: rgb(255, 255, 255);">
                      <div class="chatbro_chat_name" style="width: 46.5px;"> OVEX Trollbox&nbsp; </div>
                      <div class="chatbro_participant_wrapper_max"><span class="chatbro_participant_ico"></span><span class="chatbro_participant_count" data-tippy="Online: 2 web, 3 telegram" data-tippy-pos="down" style="display: inline; cursor: help;">5</span></div>
                      <div class="chatbro_notifications"><span class="chatbro_bell_ico"></span></div>
                    </div>
                  </div>
                </td>
                <td> <button class="chatbro_header_button chatbro_minimize_button" title="Hide" style="color: rgb(255, 255, 255); background: rgb(111, 124, 150);"></button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="chatbro_body" style="border-color: rgb(111, 124, 150);">
          <div class="chatbro_system_messages_block" style="border-color: rgb(111, 124, 150);">
            <div class="chatbro_system_messages_wrapper" style="max-height: 123px; height: auto;">
              <div class="chatbro_system_messages"></div>
            </div>
            <div class="chatbro_system_messages_frame_bottom chatbro_frame"></div>
            <div class="chatbro_system_messages_hide" style="background: rgb(111, 124, 150); border-color: rgb(111, 124, 150); color: rgb(255, 255, 255);"></div>
          </div>
          <div class="chatbro_modal_block" style="height: 263px;">
            <div class="chatbro_fade_block" style="height: 717px;">
              <div class="chatbro_login_progress_radial"></div>
            </div>
            <div class="chatbro_modal_wrapper">
              <div class="chatbro_fade_side_block"></div>
              <div class="chatbro_modal chatbro_modal_wrapper_login" style="background: rgb(255, 255, 255);">
                <div class="chatbro_modal_login">
                  <div><span class="chatbro_modal_close chatbro_modal_login_close" style="color: rgb(153, 153, 153);"></span></div>
                  <div class="chatbro_modal_login_head_social chatbro_modal_head" style="color: rgb(63, 69, 73); display: block;">Sign in with</div>
                  <div class="chatbro_modal_login_social" style="display: block; margin-bottom: 20px;"><a class="chatbro_vk_login" target="_blank" style="display: inline;"><%image_tag 'vk_logo.png'%></a><a class="chatbro_tg_login" target="_blank" style="display: inline;"><%image_tag 'telegram_logo.png'%></a><a class="chatbro_fb_login" target="_blank" style="display: inline;"><%image_tag 'facebook_logo.png'%></a><a class="chatbro_go_login" target="_blank" style="display: inline;"><%image_tag 'google_logo.png'%></a></div>
                  <div class="chatbro_modal_login_head_guest_var1 chatbro_modal_head" style="color: rgb(63, 69, 73); display: block;">or as guest with</div>
                  <div class="chatbro_modal_login_head_guest_var2 chatbro_modal_head" style="color: rgb(63, 69, 73); display: none;">Sign in as guest with</div>
                  <div class="chatbro_modal_login_input_block" style="display: block;">
                    <button class="chatbro_modal_login_btn" style="background: rgb(255, 255, 255); color: rgb(63, 69, 73);">GO</button>
                    <div>
                      <div class="chatbro_modal_login_input_wrapper">
                        <div class="chatbro_modal_login_input_div" style="border-color: rgb(204, 204, 204);"><input class="chatbro_modal_login_input" maxlength="30" type="text" placeholder="temporary name" style="background: rgb(230, 230, 230); color: rgb(76, 83, 88);"></div>
                      </div>
                    </div>
                  </div>
                  <div class="chatbro_modal_login_bot" style="color: rgb(153, 153, 153);">Only letters, digits and spaces 30 symbols maximum</div>
                  <div class="chatbro_modal_head chatbro_custom_login" style="margin-bottom: 0px; margin-top: 20px; display: none;"><a class="chatbro_custom_login_link">Site log in</a></div>
                </div>
              </div>
              <div class="chatbro_modal chatbro_modal_wrapper_menu" style="background: rgb(255, 255, 255); color: rgb(63, 69, 73);">
                <div class="chat_modal_menu">
                  <div class="chatbro_modal_menu_head chatbro_modal_head" style="color: rgb(63, 69, 73);">Menu <span class="chatbro_modal_close chatbro_modal_menu_close" style="color: rgb(153, 153, 153);"></span></div>
                  <div class="chatbro_modal_menu_body">
                    <p class="chatbro_modal_menu_ban_user">Ban user</p>
                    <p class="chatbro_modal_menu_delete_message">Delete message</p>
                    <p class="chatbro_modal_menu_delete_messages_from_user">Delete all messages from user</p>
                    <p class="chatbro_modal_menu_set_moder">Set moderator status</p>
                    <p class="chatbro_modal_menu_delete_moder">Delete moderator status</p>
                  </div>
                </div>
              </div>
              <div class="chatbro_modal chatbro_modal_wrapper_ban" style="background: rgb(255, 255, 255); color: rgb(63, 69, 73);">
                <div class="chat_modal_ban">
                  <div class="chatbro_modal_ban_head chatbro_modal_head" style="color: rgb(63, 69, 73);">Blocking <span class="chatbro_modal_close chatbro_modal_ban_close" style="color: rgb(153, 153, 153);"></span></div>
                  <div class="chatbro_modal_ban_info chatbro_modal_ban_info_duration"><span class="chatbro_modal_ban_info_header">Duration</span><span class="chatbro_modal_ban_info_label"></span></div>
                  <div class="chatbro_modal_ban_input_block"> <input class="chatbro_modal_ban_input" type="range" min="0" max="114" step="6" value="18" style="background: rgb(255, 255, 255);"></div>
                  <div class="chatbro_modal_ban_info"><span class="chatbro_modal_ban_info_header chatbro_modal_ban_info_shadow" title="The message of the user is not visible to anyone except himself">Shadow ban</span><span class="chatbro_modal_ban_info_label"><input class="chatbro_modal_ban_is_shadow" type="checkbox"></span></div>
                  <div class="chatbro_modal_ban_info">
                    <div class="chatbro_ban_by_ip"><label for="banByIp">By IP</label><input id="banByIp" class="chatbro_ban_by_ip_radio" type="radio" name="banBy" value="ip" checked=""></div>
                    <div class="chatbro_ban_by_user_id"><label for="banByUserId">By user ID</label><input id="banByUserId" class="chatbro_ban_by_user_id_radio" type="radio" name="banBy" value="id"></div>
                  </div>
                  <div class="chatbro_modal_ban_info"><textarea class="chatbro_modal_ban_reason" placeholder="Reason" style="background: rgb(255, 255, 255);"></textarea></div>
                  <button class="chatbro_modal_ban_btn" style="background: rgb(255, 255, 255); color: rgb(63, 69, 73);">OK</button>
                </div>
              </div>
            </div>
          </div>
          <div class="chatbro_messages_wrapper" style="height: 226px; background: rgb(230, 230, 230);">
            <div class="chatbro_messages_load_progress">
              <div class="chatbro_messages_load_progress_radial" style="border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204) rgb(128, 128, 128);"></div>
            </div>
            <div class="chatbro_messages_space" style="height: 191px; background: rgb(255, 255, 255);"></div>
            <div class="chatbro_messages_block" style="width: 346px; background: rgb(255, 255, 255);">
              <table class="chatbro_messages">
                <tbody>
                  <tr class="chatbro_messages_empty" style="width: 346px; color: rgb(63, 69, 73);">
                    <td>Be the first to leave a message</td>
                  </tr>
                  <tr class="chatbro_messages_error" style="width: 346px; color: rgb(63, 69, 73);">
                    <td>Oops, something going wrong. Try again later.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="chatbro_resizer" style="border-color: rgb(230, 230, 230); display: none;"></div>
          <div class="chatbro_send" style="background: rgb(255, 255, 255);">
            <div class="chatbro_send_input_preview" style="background: rgb(255, 255, 255); border-color: rgb(204, 204, 204);"></div>
            <div class="chatbro_send_input_block" style="border-color: rgb(230, 230, 230);">
              <div class="chatbro_send_button" style="background-color: rgb(255, 255, 255); color: rgb(63, 69, 73);">
                <div class="chatbro_loader_radial" style="border-color: rgb(164, 179, 190) rgb(164, 179, 190) rgb(164, 179, 190) rgb(63, 69, 73);"></div>
                <div class="chatbro_send_tippy" data-tippy="Send" data-tippy-pos="topRight"></div>
              </div>
              <div class="chatbro_open_smiles_button" style="background-color: rgb(255, 255, 255); color: rgb(63, 69, 73);">
                <div class="chatbro_open_smiles_button_tippy" data-tippy="Smiles" data-tippy-pos="up"></div>
              </div>
              <label class="chatbro_open_upload_button" style="background-color: rgb(255, 255, 255); color: rgb(63, 69, 73); display: none;">
                <div data-tippy="Upload file" data-tippy-pos="topLeft"></div>
                <input class="chatbro_file_select_input" multiple="" name="chatbroFile" type="file">
              </label>
              <div class="chatbro_smiles_menu" style="background-color: rgb(255, 255, 255); display: none;">
                <div class="chatbro_smiles"></div>
              </div>
              <div class="chatbro_send_input_wrapper">
                <div class="chatbro_send_input" contenteditable="true" data-ph="Write a message" style="background: rgb(255, 255, 255); color: rgb(63, 69, 73);"></div>
              </div>
            </div>
          </div>
          <div class="chatbro_bottom_border" style="border-color: rgb(111, 124, 150);"></div>
        </div>
      </div>
    </div>