<div id="depths_wrapper" class="col-md-12" style="background: #171e2e;height: 195px;margin:5px 0px 0px 0px;">
  <div id="depths" data-highcharts-chart="0" class="tv-external-tools__html5-chart" style="height: 100%;">
    <p class="text-white" style="padding-top:5px; ">DEPTH CHART BTC/USD</p>
    <div class="highcharts-container" id="highcharts-0" style="position: relative; overflow: hidden; width: 100px; height: 100px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
      <svg version="1.1" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="100" height="100">
        <desc>Created with Highstock 2.0.4</desc>
        <defs>
          <clippath id="highcharts-1">
            <rect x="0" y="0" width="57" height="25"></rect>
          </clippath>
        </defs>
        <rect x="0" y="0" width="100" height="100" strokeWidth="0" fill="rgba(0,0,0,0)" class=" highcharts-background"></rect>
        <g class="highcharts-grid" zIndex="1"></g>
        <g class="highcharts-grid" zIndex="1">
          <path fill="none" d="M 33 75.5 L 90 75.5" stroke="#2F383F" stroke-width="1" stroke-dasharray="8,3" zIndex="1" opacity="1"></path>
          <path fill="none" d="M 33 49.5 L 90 49.5" stroke="#2F383F" stroke-width="1" stroke-dasharray="8,3" zIndex="1" opacity="1"></path>
        </g>
        <g class="highcharts-axis" zIndex="2">
          <path fill="none" d="M 60.5 75 L 60.5 85" stroke="#C0D0E0" stroke-width="1" opacity="1"></path>
          <path fill="none" d="M 33 75.5 L 90 75.5" stroke="#C0D0E0" stroke-width="1" zIndex="7" visibility="visible"></path>
        </g>
        <g class="highcharts-axis" zIndex="2"></g>
        <g class="highcharts-series-group" zIndex="3">
          <g class="highcharts-series" visibility="visible" zIndex="0.1" transform="translate(33,50) scale(1 1)" clip-path="url(#highcharts-1)">
            <path fill="#53B987" d="M -161.53478890493682 -8.915 L -28.583559847462666 -8.748333333333335 L -23.83530166683859 -2.081666666666667 L -16.608452715928745 1.2516666666666652 L 16.629354548439792 9.584999999999999 L 28.499999999999982 17.29 L 28.499999999999982 25 L -161.53478890493682 25" zIndex="0"></path>
            <path fill="none" d="M -161.53478890493682 -8.915 L -28.583559847462666 -8.748333333333335 L -23.83530166683859 -2.081666666666667 L -16.608452715928745 1.2516666666666652 L 16.629354548439792 9.584999999999999 L 28.499999999999982 17.29" stroke="#53B987" stroke-width="2" zIndex="1" stroke-linejoin="round" stroke-linecap="round"></path>
            <path fill="none" d="M -171.53478890493682 -8.915 L -161.53478890493682 -8.915 L -28.583559847462666 -8.748333333333335 L -23.83530166683859 -2.081666666666667 L -16.608452715928745 1.2516666666666652 L 16.629354548439792 9.584999999999999 L 28.499999999999982 17.29 L 38.499999999999986 17.29" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="22" zIndex="2" class=" highcharts-tracker" style=""></path>
          </g>
          <g class="highcharts-markers highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(33,50) scale(1 1)" clip-path="none" style="">
            <path fill="transparent" d="M 28 13.29 C 33.328 13.29 33.328 21.29 28 21.29 C 22.672 21.29 22.672 13.29 28 13.29 Z"></path>
            <path fill="transparent" d="M 16 5.584999999999999 C 21.328 5.584999999999999 21.328 13.584999999999999 16 13.584999999999999 C 10.672 13.584999999999999 10.672 5.584999999999999 16 5.584999999999999 Z"></path>
          </g>
          <g class="highcharts-series" visibility="visible" zIndex="0.1" transform="translate(33,50) scale(1 1)" clip-path="url(#highcharts-1)">
            <path fill="#B96053" d="M 0 0" zIndex="0"></path>
            <path fill="none" d="M 0 0" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="22" zIndex="2" class=" highcharts-tracker" style=""></path>
          </g>
          <g class="highcharts-markers highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(33,50) scale(1 1)" clip-path="none" style=""></g>
        </g>
        <g class="highcharts-axis-labels highcharts-xaxis-labels" zIndex="7">
          <text x="61.39553832002625" text-anchor="middle" style="color:#ccc;cursor:default;font-size:10px;font-family:arial;fill:#ccc;" y="94" opacity="1">60k</text>
        </g>
        <g class="highcharts-axis-labels highcharts-yaxis-labels" zIndex="7">
          <text x="18" text-anchor="end" style="width:13px;color:#ccc;cursor:default;font-size:10px;font-family:arial;fill:#ccc;" y="80.5" opacity="1">0</text>
          <text x="18" text-anchor="end" style="width:13px;color:#ccc;cursor:default;font-size:10px;font-family:arial;fill:#ccc;" y="61" opacity="1">0.015</text>
        </g>
        <g class="highcharts-tooltip" zIndex="8" style="cursor:default;padding:0;white-space:nowrap;" transform="translate(0,-9999)">
          <path fill="rgba(0,0,0,0)" d="M 0 0 L 16 0 C 16 0 16 0 16 0 L 16 16 C 16 16 16 16 16 16 L 0 16 C 0 16 0 16 0 16 L 0 0 C 0 0 0 0 0 0"></path>
        </g>
      </svg>
      <div class="highcharts-tooltip" style="position: absolute; left: 0px; top: -9999px;"><span style="position: absolute; white-space: nowrap; font-family: &quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(51, 51, 51); margin-left: 0px; margin-top: 0px; left: 8px; top: 8px;" zindex="1"></span></div>
    </div>
  </div>
</div>