<header class="navbar navbar-default navbar-static-top" role="navigation" style="height: 40px; width: 100%; background-color: rgb(38, 45, 51); margin-bottom: 5px; border: none;">
      <div class="container-fluid">
        <ul style="height: 40px;" id="menu" class="nav navbar-nav navbar-left">
          <a class="navbar-brand" style="margin: 0 !important;" href="#">
            <%#= image_tag 'ovexio.png' , :style => "height: 38px; margin: -4px 40px 0 20px;"%>
            <p>TRADETITANS</p>
          </a>
        </ul>
        <p style="margin-right: 365px; text-align: right; float: right; height: 40px; margin-top: 0px;" class="navbar-text">
          <span class="info-container">
          <span class="info-name">24h High</span><br>
          <span class="high info-value"></span>
          </span>
          <span class="info-container">
          <span class="info-name">24h Low</span><br>
          <span class="low info-value"></span>
          </span>
          <span class="info-container">
          <span class="info-name">24h Change</span><br>
          <span class="change info-value"><span class="text-up"></span></span>
          </span>
          <span class="info-container">
          <span class="info-name">24h Volume</span><br>
          <span class="vol info-value"></span>
          </span>
        </p>
        <ul class="nav navbar-nav navbar-right">
          <div>
            <div onclick="marketBtn()" class="market-btn"></div>
            <div class="market-name-container">
              <a class="market-name">
              <span><%= @data.fetch(:current_market).fetch(:ask_unit).upcase %> / <%= @data.fetch(:current_market).fetch(:bid_unit).upcase %></span>
              <i class="arrow-down" id="arrow_down"></i>
              <i class="arrow-up" id="arrow_up"></i>
              </a>
            </div>
            <%#= render partial: 'market_list' %>
          </div>
          <div class="account-summary-container">
            <a href="#"><i class="fa fa-user" style="margin-right: 5px;"></i></a>
            <span> | </span>
            <a href="<%= generate_ui_url('signout') %>">Sign out</a>
          </div>
        </ul>
      </div>
    </header>
