

<div id="my_orders_wrapper" class="col-lg-5" style="height:380px; padding:0px 2px;">
  <div id="my_orders" class="col-md-12" style="background: #171e2e;height: 380px;padding:0px;">
    <div id="my_orders_header" class="responsive-tabs">
      <ul class="nav nav-tabs custom-nav-tabs" role="tablist">
        <li role="presentation" class="active my-orders-tab">
            <a href="#my_orders_open_orders" aria-controls="tab1" role="tab" data-toggle="tab" onclick="openMyOrdersTab(event, 'my_orders_open_orders')" id="my_orders_default_tab">open orders</a>
        </li>
        <li role="presentation" class="my-orders-tab">
            <a href="#orders_history" aria-controls="orders_history" role="tab" data-toggle="tab" onclick="openOrderHistoryTab(event, 'orders_history')">Order History</a>
        </li>
        <li role="presentation" class="my-orders-tab">
            <a href="#trade_history" aria-controls="trade_history" role="tab" data-toggle="tab" onclick="openTradeHistoryTab(event, 'trade_history')">Trade History</a>
        </li>
      </ul>
      <div class="tab-content panel-group">
        <div id="my_orders_open_orders" role="tabpanel" class="tab-pane active panel-collapse collapse in" aria-labelledby="heading1">
          <table class="table custom-market-tbl">
            <thead>
              <tr>
                <th scope="col">Pair</th>
                <th scope="col">Type</th>
                <th scope="col">Side</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Filled,%</th>
              </tr>
            </thead>
          </table>

          <div class="panel-body panel-body-content" style="height: calc(100% - 25px); padding-top: 2px !important; padding-bottom: 2px !important; overflow: hidden; outline: none;" tabindex="2">
            <div class="empty-row">
              <p style="color: #ffffff; padding-top: 20px; font-size: 13px;">NO ORDERS</p>
            </div>
            <table id="my_orders_table" class="table">
              <tbody></tbody>
            </table>
          </div>
        </div>
        
        <div id="orders_history" role="tabpanel" class="tab-pane panel-collapse collapse" aria-labelledby="heading2">
          <table class="table custom-market-tbl">
            <thead>
              <tr>
                <th scope="col">2</th>
                <th scope="col">Pair/BTC</th>
                <th scope="col">Last Price</th>
                <th scope="col">Vol.</th>
                <th scope="col">Change,%</th>
              </tr>
            </thead>
          </table>
        </div>
        <div id="trade_history" role="tabpanel" class="tab-pane panel-collapse collapse" aria-labelledby="heading3">
          <table class="table custom-market-tbl">
            <thead>
              <tr>
                <th scope="col">3</th>
                <th scope="col">Pair/BTC</th>
                <th scope="col">Last Price</th>
                <th scope="col">Vol.</th>
                <th scope="col">Change,%</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
