<div class="new-trade-header">
  <ul>
    <li id="default-limit" class="new-trade-link active" onclick="openOrderForm(event, 'limit-order-form')">Limit</li>
    <!--<li class="new-trade-link" onclick="openOrderForm(event, 'market-order-form')">Market</li>-->
  </ul>
</div>