<div id="trading_view_wrapper" class="panel panel-default tabcontent" style="display: none;">
  <div class="panel-body panel-body-content" tabindex="7" style="overflow: hidden; outline: none;">
    <div id="tv_chart_container"><iframe id="tradingview_3509f" name="tradingview_3509f" src="/trading-ui-assets/charting_library/tv-chart.630b704a2b9d0eaf1593.html" frameborder="0" allowtransparency="true" scrolling="no" allowfullscreen="" style="display: block; width: 100%; height: 100%;"></iframe></div>
  </div>
  <div id="ascrail2007" class="nicescroll-rails" style="width: 5px; z-index: auto; cursor: default; position: absolute; top: 0px; left: -5px; height: 100px; display: none;">
    <div style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(66, 66, 66); border: none; background-clip: padding-box; border-radius: 5px;"></div>
  </div>
  <div id="ascrail2007-hr" class="nicescroll-rails" style="height: 5px; z-index: auto; top: 95px; left: 0px; position: absolute; cursor: default; display: none;">
    <div style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(66, 66, 66); border: none; background-clip: padding-box; border-radius: 5px;"></div>
  </div>
</div>